In the previous Notebooks i've established that using a Linear regression to predict Rank is my best bet.

This method is called a pointwise ranking method. and the "learn to rank" Theory proposes more ranking methods that i'll try to explore in this norebook. 

    -Pairwise ranking 
    -Listwise ranking

Let's start with Pairwise ranking there are various methods all from Microsoft researcher Burges
RankNet, LambdaRank, LambdaRankMart

In [1]:
import pandas as pd
from scipy.stats import spearmanr
import numpy as np
from utils.Dataset_modification import *
from utils.compute_model_performance import *

X_train = pd.read_csv(datasets+'X_train.csv') #datasets is defined in utils
Y_train=pd.read_csv(datasets+'Y_train.csv')
Y_train['Rank']= Y_train['TARGET'].rank()
Y_train

        ID    TARGET    Rank
0     1054  0.028313   807.0
1     2049 -0.112516   532.0
2     1924 -0.180840   427.0
3      297 -0.260356   343.0
4     1101 -0.071733   593.0
...    ...       ...     ...
1489   459 -0.172597   440.0
1490  1674 -0.063546   609.0
1491   748  0.151797  1016.0
1492  1454 -0.640917   163.0
1493   359 -0.252764   348.0

[1494 rows x 3 columns]

In [4]:
df=create_pairwise_dataset(Y_train)
print(df)

            ID1     ID2  Comparison
0        1054.0  2049.0         2.0
1        1054.0  1924.0         2.0
2        1054.0   297.0         2.0
3        1054.0  1101.0         2.0
4        1054.0  1520.0         0.0
...         ...     ...         ...
1115266  1674.0  1454.0         2.0
1115267  1674.0   359.0         2.0
1115268   748.0  1454.0         2.0
1115269   748.0   359.0         2.0
1115270  1454.0   359.0         0.0

[1115271 rows x 3 columns]

In [22]:
import numpy.random as np_random
Comp_map = {1.0:np_random.uniform(0.66,1), 0.0: np_random.uniform(0,0.33), 0.5:np_random.uniform(0.33,0.66) } 
df['Comparison']=df['Comparison'].map(Comp_map)
df

            ID1     ID2  Comparison
0        1054.0  2049.0    0.970357
1        1054.0  1924.0    0.970357
2        1054.0   297.0    0.970357
3        1054.0  1101.0    0.970357
4        1054.0  1520.0    0.191529
...         ...     ...         ...
1115266  1674.0  1454.0    0.970357
1115267  1674.0   359.0    0.970357
1115268   748.0  1454.0    0.970357
1115269   748.0   359.0    0.970357
1115270  1454.0   359.0    0.191529

[1115271 rows x 3 columns]

In [23]:
remade=reconstruct_original_dataset(df)
remade

          ID  Rank_recreated
0        0.0             455
1        2.0             778
2        3.0             364
3        4.0             810
4        5.0             589
...      ...             ...
1489  2142.0            1357
1490  2143.0            1314
1491  2144.0             571
1492  2145.0             434
1493  2146.0             701

[1494 rows x 2 columns]

In [24]:
sorted=remade.sort_values(by=['ID'], key=lambda x: x.map({k: i for i, k in enumerate(Y_train['ID'].tolist())}))
sorted['ID'].tolist()==Y_train['ID'].tolist()

True

In [25]:
from scipy.stats import spearmanr
print("TARGET AND reconstructed Rank :" ,spearmanr(sorted["Rank_recreated"], Y_train["TARGET"]).correlation)

TARGET AND reconstructed Rank : 0.9999998515590814

Predicting Pairwise ranking accurately -> predicting Ranking accurately -> high spearman score

meaning our method of creating pairwise ranking and prediction a pairwise ranking ID by ID might help determine a more accurate ranking. Now let's Get a  X_train_pairwise that matches our Y_train_Pairwise

In [6]:
X_train_pairwise=get_training_pairwise(X_train)

Country remapped

In [13]:
print(sorted(Y_train['TARGET'].tolist(),reverse=True)[:10])

[7.786577856046542, 7.138604025388376, 6.836019876868637, 6.681753850368199, 6.151133366269985, 6.094297093901249, 6.009904429692065, 5.57011518732641, 5.0164912760257, 5.015579833097478]

In [2]:
import pandas as pd
from scipy.stats import spearmanr
import numpy as np
from utils.Dataset_modification import *
from utils.compute_model_performance import *

X_train = pd.read_csv(datasets+'X_train.csv') #datasets is defined in utils
Y_train=pd.read_csv(datasets+'Y_train.csv')

from sklearn.linear_model import LinearRegression
from utils.compute_model_performance import *

model=Model(LinearRegression,LinearRegression)
model.get_data_and_order(X_train,Y_train) 
# model.Compute(iterations=100,custom_group=2,group=True)
model.Compute(iterations=1,columns='Rank_recreated',split=False)

X_train and Y_train same ID ? True
X_test and Y_test same ID ? True
Country remapped
Country remapped
pairwise creation done
list length is 278631
error_val -0.04070281896819743
accuracy_val [0.42731426151433255, (0.47974577810059926, 137675), (0.37608826764111114, 140935)]
list length is 278631
error_train -9.958779943246224e-17
accuracy_train [0.4684331607035829, (0.5034480815423737, 141963), (0.43207112281857096, 136665)]
        ID1     ID2  Comparison     ID1     ID2  Comparison
0    1176.0  1978.0    1.595392  1176.0  1978.0         0.0
1    1176.0  1219.0    1.044442  1176.0  1219.0         0.0
2    1176.0  1853.0    0.582380  1176.0  1853.0         2.0
3    1176.0  1520.0    0.908623  1176.0  1520.0         0.0
4    1176.0   472.0    1.053905  1176.0   472.0         0.0
..      ...     ...         ...     ...     ...         ...
995  1978.0  1123.0    0.940682  1978.0  1123.0         2.0
996  1978.0   944.0    0.750364  1978.0   944.0         0.0
997  1978.0  1569.0    0.712072  1978.0  1569.0         0.0
998  1978.0  2115.0    0.744858  1978.0  2115.0         0.0
999  1978.0  2072.0    0.792172  1978.0  2072.0         0.0

[1000 rows x 6 columns]
reconstructing rank ...
         ID  Rank_recreated    ID    TARGET
0    1176.0             135  1176 -0.226496
1    1978.0              85  1978 -0.180053
2    1219.0              54  1219  0.381073
3    1853.0             161  1853 -1.022690
4    1520.0             176  1520  0.932105
..      ...             ...   ...       ...
742   866.0             187   866  0.005798
743    15.0             488    15  0.124671
744   923.0              66   923 -1.255300
745   980.0             451   980  0.036197
746  2046.0             518  2046 -0.319575

[747 rows x 4 columns]
Y_pred and Y_test same ID ? True
Same length ? True
evaluate 20.972710326541495
evaluate 35.98944803841166
validation 20.972710326541495 training 35.98944803841166
average Rank_recreated evaluation score at  20.972710326541495 training at : 35.98944803841166 training at : nan training at : nan

In [1]:
import pandas as pd
from scipy.stats import spearmanr
import numpy as np
from utils.Dataset_modification import *
from utils.compute_model_performance import *

X_train = pd.read_csv(datasets+'X_train.csv') #datasets is defined in utils
Y_train=pd.read_csv(datasets+'Y_train.csv')

from sklearn.linear_model import LogisticRegression
from utils.compute_model_performance import *

model=Model(LogisticRegression,LogisticRegression,max_iter=1000000,Solver='lbfgs')
model.get_data_and_order(X_train,Y_train) 
# model.Compute(iterations=100,custom_group=2,group=True)
model.Compute(iterations=1,columns='Rank_recreated',split=False)

X_train and Y_train same ID ? True
X_test and Y_test same ID ? True
Country remapped
Country remapped
pairwise creation done
list length is 69751
error_val -0.03013576866281487
accuracy_val [0.5687086923484967, (0.5779496423794848, 34394), (0.5597194332098312, 35357)]
list length is 626640
error_train -0.010717477339461254
accuracy_train [0.6094105068300779, (0.6183586795310875, 316221), (0.60036471069614, 310383)]
        ID1     ID2  Comparison     ID1     ID2  Comparison
0      66.0  1764.0         0.0    66.0  1764.0         2.0
1      66.0  1502.0         0.0    66.0  1502.0         2.0
2      66.0     3.0         2.0    66.0     3.0         2.0
3      66.0    92.0         0.0    66.0    92.0         0.0
4      66.0  1459.0         2.0    66.0  1459.0         2.0
..      ...     ...         ...     ...     ...         ...
995  1502.0  1350.0         2.0  1502.0  1350.0         2.0
996  1502.0  1473.0         0.0  1502.0  1473.0         0.0
997  1502.0  1351.0         2.0  1502.0  1351.0         2.0
998  1502.0  1616.0         0.0  1502.0  1616.0         2.0
999  1502.0   160.0         0.0  1502.0   160.0         2.0

[1000 rows x 6 columns]
reconstructing rank ...
         ID  Rank_recreated    ID    TARGET
0      66.0             191    66  0.365761
1    1764.0             354  1764  0.212894
2    1502.0             157  1502  0.012113
3       3.0              65     3 -0.233505
4      92.0             321    92  0.559068
..      ...             ...   ...       ...
369  1144.0             305  1144 -0.194085
370  1187.0             101  1187 -0.316018
371   169.0             135   169 -0.406072
372  2024.0             253  2024  0.097861
373   631.0             249   631 -0.702610

[374 rows x 4 columns]
Y_pred and Y_test same ID ? True
Same length ? True
evaluate 20.887722950960992
evaluate 33.36330832250268
validation 20.887722950960992 training 33.36330832250268
average Rank_recreated evaluation score at  20.887722950960992 training at : 33.36330832250268 training at : nan training at : nan

In [5]:
from mord import OrdinalRidge
from utils.compute_model_performance import *
model=Model(OrdinalRidge,OrdinalRidge)
model.get_data_and_order(X_train,Y_train) 
model.Compute(iterations=2,columns='Rank_recreated',split=False)

X_train and Y_train same ID ? True
X_test and Y_test same ID ? True
Country remapped
Country remapped
pairwise creation done

/home/ymachta/miniconda3/envs/qube/lib/python3.11/site-packages/sklearn/base.py:432: UserWarning: X has feature names, but OrdinalRidge was fitted without feature names
  warnings.warn(
/home/ymachta/miniconda3/envs/qube/lib/python3.11/site-packages/sklearn/base.py:432: UserWarning: X has feature names, but OrdinalRidge was fitted without feature names
  warnings.warn(

list length is 69751
error_val (-0.031211022064199796, [2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0])
accuracy_val [0.03346188585109891, 0.04778986345753298, 0.01930073905628198, 1.0]
list length is 626640
error_train (0.0028708668453976765, [2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0])
accuracy_train [0.053446955189582535, 0.06206467348940129, 0.044500708341573006, 0.9047619047619048]
        ID1     ID2  Comparison     ID1     ID2  Comparison
0    1909.0  1611.0         1.0  1909.0  1611.0         0.0
1    1909.0   621.0         0.0  1909.0   621.0         0.0
2    1909.0  1721.0         1.0  1909.0  1721.0         2.0
3    1909.0   909.0         1.0  1909.0   909.0         0.0
4    1909.0  1139.0         1.0  1909.0  1139.0         0.0
..      ...     ...         ...     ...     ...         ...
995   621.0   308.0         1.0   621.0   308.0         2.0
996   621.0   444.0         1.0   621.0   444.0         0.0
997   621.0   443.0         1.0   621.0   443.0         2.0
998   621.0   575.0         1.0   621.0   575.0         2.0
999   621.0   282.0         1.0   621.0   282.0         2.0

[1000 rows x 6 columns]
reconstructing rank ...
Y_pred and Y_test same ID ? True
Same length ? True
validation 11.696574840130635
X_train and Y_train same ID ? True
X_test and Y_test same ID ? True
Country remapped
Country remapped
pairwise creation done

/home/ymachta/miniconda3/envs/qube/lib/python3.11/site-packages/sklearn/base.py:432: UserWarning: X has feature names, but OrdinalRidge was fitted without feature names
  warnings.warn(
/home/ymachta/miniconda3/envs/qube/lib/python3.11/site-packages/sklearn/base.py:432: UserWarning: X has feature names, but OrdinalRidge was fitted without feature names
  warnings.warn(

list length is 69751
error_val (-0.04789895485369385, [2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0])
accuracy_val [0.03852274519361729, 0.04162912236438998, 0.03565942506034672, 1.0]
list length is 626640
error_train (-0.0047060513213328225, [2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0])
accuracy_train [0.04999042512447338, 0.047739379208260956, 0.05214629518578803, 0.8214285714285714]
       ID1     ID2  Comparison    ID1     ID2  Comparison
0    107.0   405.0         1.0  107.0   405.0         0.0
1    107.0   905.0         2.0  107.0   905.0         2.0
2    107.0   779.0         1.0  107.0   779.0         0.0
3    107.0  1394.0         1.0  107.0  1394.0         0.0
4    107.0  1312.0         1.0  107.0  1312.0         0.0
..     ...     ...         ...    ...     ...         ...
995  905.0  1857.0         1.0  905.0  1857.0         0.0
996  905.0   322.0         0.0  905.0   322.0         0.0
997  905.0  1517.0         1.0  905.0  1517.0         0.0
998  905.0   237.0         0.0  905.0   237.0         0.0
999  905.0  1147.0         1.0  905.0  1147.0         0.0

[1000 rows x 6 columns]
reconstructing rank ...
Y_pred and Y_test same ID ? True
Same length ? True
validation 21.37509232543512
average Rank_recreated evaluation score at  16.535833582782878 training at : nan training at : nan training at : nan

In [8]:
from sklearn.ensemble import RandomForestRegressor
model=Model(RandomForestRegressor,RandomForestRegressor,depth=13,n_estimators=2)
model.get_data_and_order(X_train,Y_train) 
model.Compute(iterations=1,columns='Rank_recreated',split=False)

X_train and Y_train same ID ? True
X_test and Y_test same ID ? True
Country remapped
Country remapped
pairwise creation done
list length is 278631
error_val -0.018342287236437715
accuracy_val [0.4514429478414103, (0.44832411492204244, 135779), (0.45444807717888225, 142837), (0.06666666666666667, 15)]
list length is 278631
error_train -0.00021226833914946634
accuracy_train [0.7805305224472511, (0.7786982760485388, 138693), (0.7823800131492439, 139932), (0.0, 6)]
        ID1     ID2  Comparison     ID1     ID2  Comparison
0     479.0  1596.0    0.894555   479.0  1596.0         2.0
1     479.0   207.0    1.179440   479.0   207.0         2.0
2     479.0  1948.0    0.118182   479.0  1948.0         2.0
3     479.0   470.0    0.116969   479.0   470.0         2.0
4     479.0  1165.0    0.998241   479.0  1165.0         2.0
..      ...     ...         ...     ...     ...         ...
995  1596.0  2051.0    1.087723  1596.0  2051.0         2.0
996  1596.0   533.0    1.080091  1596.0   533.0         0.0
997  1596.0  1750.0    0.352054  1596.0  1750.0         2.0
998  1596.0  1145.0    0.998241  1596.0  1145.0         0.0
999  1596.0  2045.0    1.443554  1596.0  2045.0         2.0

[1000 rows x 6 columns]
reconstructing rank ...
         ID  Rank_recreated    ID    TARGET
0     479.0             294   479  0.946090
1    1596.0             337  1596 -0.005902
2     207.0             383   207  0.031024
3    1948.0              50  1948 -0.128957
4     470.0             271   470 -0.815559
..      ...             ...   ...       ...
742  1070.0             677  1070  0.309652
743   481.0             156   481  0.203126
744  1064.0              98  1064  0.135324
745  1221.0             599  1221 -0.173979
746   819.0             700   819 -0.133381

[747 rows x 4 columns]
Y_pred and Y_test same ID ? True
Same length ? True
evaluate 9.302080592740145
evaluate 88.00460109584658
validation 9.302080592740145 training 88.00460109584658
average Rank_recreated evaluation score at  9.302080592740145 training at : 88.00460109584658 training at : nan training at : nan

In [2]:
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from utils.compute_model_performance import *
import pandas as pd
from scipy.stats import spearmanr
import numpy as np
from utils.Dataset_modification import *
from utils.compute_model_performance import *

X_train = pd.read_csv(datasets+'X_train.csv') #datasets is defined in utils
Y_train=pd.read_csv(datasets+'Y_train.csv')

# model=Model(RandomForestRegressor,RandomForestRegressor,depth=3,n_estimators=10)
# model.get_data_and_order(X_train,Y_train) 
# model.Compute(iterations=1,columns='Rank_recreated',split=False)

model=Model(RandomForestClassifier,RandomForestClassifier,depth=20,n_estimators=5)
model.get_data_and_order(X_train,Y_train) 
model.Compute(iterations=1,columns='Rank_recreated',split=False)

X_train and Y_train same ID ? True
X_test and Y_test same ID ? True
Country remapped
Country remapped
pairwise creation done
list length is 278631
error_val -0.04282725181333018
accuracy_val [0.5548269934070509, (0.5840807095906045, 141941), (0.5244533210426588, 136689)]
list length is 278631
error_train -0.01376372334736623
accuracy_train [0.9428132548065362, (0.9514539540754405, 144193), (0.9336954095677404, 134410), (0.21428571428571427, 28)]
        ID1     ID2  Comparison     ID1     ID2  Comparison
0    1528.0   713.0         0.0  1528.0   713.0         0.0
1    1528.0  2130.0         0.0  1528.0  2130.0         2.0
2    1528.0  2065.0         0.0  1528.0  2065.0         2.0
3    1528.0  1330.0         0.0  1528.0  1330.0         2.0
4    1528.0  2129.0         0.0  1528.0  2129.0         0.0
..      ...     ...         ...     ...     ...         ...
995   713.0   209.0         2.0   713.0   209.0         2.0
996   713.0  1366.0         2.0   713.0  1366.0         0.0
997   713.0  2124.0         2.0   713.0  2124.0         2.0
998   713.0   785.0         0.0   713.0   785.0         2.0
999   713.0   480.0         2.0   713.0   480.0         2.0

[1000 rows x 6 columns]
reconstructing rank ...
         ID  Rank_recreated    ID    TARGET
0    1528.0             324  1528 -0.046973
1     713.0             567   713  0.598349
2    2130.0             480  2130 -0.427197
3    2065.0             235  2065 -0.285126
4    1330.0             254  1330 -0.210317
..      ...             ...   ...       ...
742  1023.0             388  1023  0.439987
743   678.0             253   678 -0.803315
744   117.0             110   117  0.171588
745   910.0             609   910  0.908950
746   586.0             249   586 -0.400048

[747 rows x 4 columns]
Y_pred and Y_test same ID ? True
Same length ? True
evaluate 20.84928879391995
evaluate 98.77642887865942
validation 20.84928879391995 training 98.77642887865942
average Rank_recreated evaluation score at  20.84928879391995 training at : 98.77642887865942 training at : nan training at : nan

In [2]:
import xgboost as xgb
import pandas as pd
from scipy.stats import spearmanr
import numpy as np
from utils.Dataset_modification import *
from utils.compute_model_performance import *

X_train = pd.read_csv(datasets+'X_train.csv') #datasets is defined in utils
Y_train=pd.read_csv(datasets+'Y_train.csv')

model=Model(xgb.XGBRegressor,xgb.XGBClassifier,depth=3,n_estimators=50)
model.get_data_and_order(X_train,Y_train) 
model.Compute(iterations=1,columns='Rank_recreated',split=False,mode=False)

X_train and Y_train same ID ? True
X_test and Y_test same ID ? True
Country remapped
Country remapped
pairwise creation done
list length is 278631
error_val -2535.754230696708

IndexError: too many indices for array: array is 1-dimensional, but 2 were indexed

Conclusion Pairwise prediction with "traditional" means is not accurate enough to construct a robust ranking representation


Actually let's study our required accuracy to get an acceptable validation

In [49]:
Y_train

        ID    TARGET
0     1054  0.028313
1     2049 -0.112516
2     1924 -0.180840
3      297 -0.260356
4     1101 -0.071733
...    ...       ...
1489   459 -0.172597
1490  1674 -0.063546
1491   748  0.151797
1492  1454 -0.640917
1493   359 -0.252764

[1494 rows x 2 columns]

In [52]:
sub_df=select_precentage_of_df(Y_train,25)
import scipy.stats
print(len(sub_df))
print(len(df))

sub_df['TARGET']= np.random.permutation(sub_df['TARGET'].values)
# print(sub_df)
df2 = pd.merge(Y_train, sub_df, on=['ID'], how='left', suffixes=('', '_modified'))
# Replace the original 'Value' column with the modified values
df2['TARGET'] = df2['TARGET_modified'].fillna(df2['TARGET'])
df2.drop(['TARGET_modified'], axis=1, inplace=True)
df2

373
1494

        ID    TARGET
0     1054  0.028313
1     2049 -0.112516
2     1924 -0.180840
3      297  0.121495
4     1101 -0.655248
...    ...       ...
1489   459 -0.172597
1490  1674 -0.063546
1491   748  0.151797
1492  1454  2.560178
1493   359 -2.220987

[1494 rows x 2 columns]

In [54]:
df=create_pairwise_dataset(Y_train)
df2=create_pairwise_dataset(df2)

In [55]:
print("accuract between df and df scrambled is ",accuracy(df['Comparison'],df2['Comparison']))

accuract between df and df scrambled is  [0.8461163250904937, (0.84712247157662, 562653), (0.8451426327381178, 552573), (0.2222222222222222, 45)]

In [56]:



remade=reconstruct_original_dataset(df2)
sorted=remade.sort_values(by=['ID'], key=lambda x: x.map({k: i for i, k in enumerate(Y_train['ID'].tolist())}))
print(np.unique(sorted['Rank_recreated']))
print(pd.concat((df.reset_index(drop=True),df2.reset_index(drop=True)),axis=1))
print(pd.concat((sorted.reset_index(drop=True),Y_train.reset_index(drop=True)),axis=1))
from scipy.stats import spearmanr
print("TARGET AND reconstructed Rank :" ,spearmanr(sorted["Rank_recreated"], Y_train["TARGET"]).correlation)

[   1    2    3 ... 1492 1493 1494]
            ID1     ID2  Comparison     ID1     ID2  Comparison
0        1054.0  2049.0         2.0  1054.0  2049.0         2.0
1        1054.0  1924.0         2.0  1054.0  1924.0         2.0
2        1054.0   297.0         2.0  1054.0   297.0         0.0
3        1054.0  1101.0         2.0  1054.0  1101.0         2.0
4        1054.0  1520.0         0.0  1054.0  1520.0         0.0
...         ...     ...         ...     ...     ...         ...
1115266  1674.0  1454.0         2.0  1674.0  1454.0         0.0
1115267  1674.0   359.0         2.0  1674.0   359.0         2.0
1115268   748.0  1454.0         2.0   748.0  1454.0         0.0
1115269   748.0   359.0         2.0   748.0   359.0         2.0
1115270  1454.0   359.0         0.0  1454.0   359.0         2.0

[1115271 rows x 6 columns]
          ID  Rank_recreated    ID    TARGET
0     1054.0             807  1054  0.028313
1     2049.0             532  2049 -0.112516
2     1924.0             427  1924 -0.180840
3      297.0             979   297 -0.260356
4     1101.0             160  1101 -0.071733
...      ...             ...   ...       ...
1489   459.0             440   459 -0.172597
1490  1674.0             609  1674 -0.063546
1491   748.0            1016   748  0.151797
1492  1454.0            1450  1454 -0.640917
1493   359.0              23   359 -0.252764

[1494 rows x 4 columns]
TARGET AND reconstructed Rank : 0.7608128869417035

In [4]:
def process(df,percentage):
    sub_df=select_precentage_of_df(df,percentage)
    print(len(sub_df))
    print(len(df))
    sub_df['Comparison']= np.random.choice([0, 2], size=len(sub_df), p=[.5,.5])
    df2 = pd.merge(df, sub_df, on=['ID1','ID2'], how='left', suffixes=('', '_modified'))
    # Replace the original 'Value' column with the modified values
    df2['Comparison'] = df2['Comparison_modified'].fillna(df2['Comparison']).astype(int)
    df2.drop(['Comparison_modified'], axis=1, inplace=True)
    
    print("accuract between df and df scrambled is ",accuracy(df2['Comparison'],df['Comparison']))
    return df2

In [5]:
def compare(df2,Y_train,df):
    remade=reconstruct_original_dataset(df2)
    sorted=remade.sort_values(by=['ID'], key=lambda x: x.map({k: i for i, k in enumerate(Y_train['ID'].tolist())}))
    print(np.unique(sorted['Rank_recreated']))
    print(pd.concat((df.reset_index(drop=True),df2.reset_index(drop=True)),axis=1))
    print(pd.concat((sorted.reset_index(drop=True),Y_train.reset_index(drop=True)),axis=1))
    from scipy.stats import spearmanr
    print("TARGET AND reconstructed Rank :" ,spearmanr(sorted["Rank_recreated"], Y_train["TARGET"]).correlation)

In [1]:
import pandas as pd
from scipy.stats import spearmanr
import numpy as np
from utils.Dataset_modification import *
from utils.compute_model_performance import *

X_train = pd.read_csv(datasets+'X_train.csv') #datasets is defined in utils
Y_train=pd.read_csv(datasets+'Y_train.csv')

In [2]:
X_train2, X_test, Y_train2, Y_test=train_test_split(X_train,Y_train, test_size=0.25)

In [3]:
df_train=create_pairwise_dataset(Y_train)
df_test=create_pairwise_dataset(Y_test)

In [7]:
df2=process(process(df_train,10),10)
print("accuracy between df and df scrambled is ",accuracy(df2['Comparison'],df_train['Comparison']))
compare(df2,Y_train,df_train)

111527
1115271
accuract between df and df scrambled is  [0.949856133621335, (0.9501043198929943, 562213), (0.9496033547131804, 553013)]
111527
1115271
accuract between df and df scrambled is  [0.9502112042723249, (0.949933544827439, 562033), (0.9504966603096557, 553195)]
accuracy between df and df scrambled is  [0.9050114277157749, (0.9049577295437851, 562213), (0.9050691394234855, 553013)]
[ 137  142  144  147  148  149  152  153  154  156  157  158  159  160
  161  162  163  164  165  167  168  169  170  171  173  174  176  177
  178  180  181  182  183  184  185  186  187  189  190  192  193  194
  196  197  199  200  202  203  204  205  206  207  208  209  210  211
  213  215  216  217  218  220  223  224  227  228  229  232  233  234
  235  236  237  238  243  244  247  248  249  251  253  255  256  257
  258  259  260  261  262  263  267  268  269  270  271  273  274  275
  276  277  278  279  280  281  282  284  285  286  287  290  291  292
  293  295  298  299  300  301  303  304  305  306  307  308  309  310
  311  312  313  314  315  316  317  319  320  322  324  325  327  330
  332  333  334  335  337  339  341  342  343  344  345  346  348  349
  351  353  354  355  356  357  358  360  362  364  365  366  368  369
  370  371  373  374  376  377  378  379  380  381  383  384  385  387
  389  392  393  394  395  396  397  400  402  403  404  405  406  407
  410  411  412  413  415  416  417  418  421  423  424  425  429  430
  431  432  433  435  437  439  440  441  442  443  445  446  447  448
  449  451  452  453  454  456  457  458  460  461  463  464  466  467
  468  469  472  473  474  475  476  477  479  480  484  485  486  487
  490  491  492  493  495  496  497  498  499  500  501  503  505  506
  507  508  512  514  515  516  517  520  521  522  523  524  525  526
  528  529  530  531  532  534  535  536  538  539  541  542  543  545
  550  551  552  554  555  556  557  558  560  561  563  565  566  567
  569  571  572  574  575  576  577  578  580  581  582  583  585  586
  588  589  590  591  592  593  594  597  598  599  600  602  603  604
  605  606  607  608  609  610  611  612  614  616  617  619  620  621
  622  625  626  627  629  630  632  633  634  636  638  639  640  641
  642  643  644  646  648  649  650  651  653  654  655  657  658  659
  661  662  665  667  668  670  671  672  675  677  678  680  681  683
  684  685  687  688  690  691  692  693  695  696  697  699  700  701
  702  703  704  706  707  708  709  710  712  714  715  718  719  721
  722  723  726  727  728  729  731  735  736  738  740  742  743  745
  746  747  748  749  750  751  752  753  754  756  757  758  760  761
  762  764  765  767  769  770  772  773  774  775  778  779  780  783
  784  785  786  788  789  790  791  792  793  794  795  796  797  798
  799  800  802  804  805  806  807  808  809  810  813  815  817  821
  822  823  826  827  828  831  832  833  834  835  838  839  840  843
  844  847  848  849  850  851  852  853  854  855  856  857  858  860
  861  862  863  864  865  866  867  871  873  874  875  876  877  878
  879  880  881  882  884  885  886  888  891  892  894  895  896  898
  899  900  901  902  904  905  906  907  908  909  910  911  912  914
  915  916  917  918  919  920  921  922  923  924  925  926  927  928
  929  930  931  933  934  935  936  937  939  941  942  944  945  946
  947  949  951  953  954  957  958  959  960  962  963  964  965  966
  967  969  970  971  973  974  976  977  978  979  980  982  983  984
  986  987  988  990  991  992  994  995  996  998  999 1000 1001 1002
 1003 1004 1005 1006 1007 1009 1010 1011 1012 1013 1014 1018 1019 1021
 1022 1024 1025 1026 1027 1028 1031 1033 1034 1036 1037 1038 1040 1041
 1042 1043 1045 1046 1047 1048 1050 1052 1054 1055 1057 1058 1059 1060
 1061 1062 1064 1065 1067 1070 1071 1072 1074 1075 1076 1077 1079 1080
 1081 1082 1083 1085 1087 1089 1090 1091 1092 1093 1095 1096 1097 1098
 1099 1100 1101 1102 1103 1104 1106 1107 1110 1111 1112 1113 1114 1115
 1116 1118 1119 1120 1121 1122 1123 1125 1128 1129 1130 1131 1132 1133
 1134 1135 1136 1138 1139 1141 1142 1143 1145 1146 1147 1149 1150 1151
 1152 1154 1155 1156 1158 1159 1160 1161 1162 1163 1164 1165 1167 1171
 1172 1173 1174 1175 1177 1178 1179 1180 1181 1184 1186 1188 1189 1190
 1191 1194 1195 1198 1199 1201 1202 1203 1204 1205 1208 1210 1211 1212
 1213 1214 1215 1217 1218 1219 1221 1222 1223 1225 1226 1227 1228 1232
 1233 1234 1235 1236 1240 1241 1242 1244 1246 1248 1249 1250 1251 1252
 1253 1254 1256 1260 1261 1262 1263 1266 1267 1270 1271 1272 1274 1275
 1277 1278 1280 1281 1283 1284 1285 1286 1288 1290 1291 1294 1295 1298
 1301 1302 1307 1308 1309 1313 1314 1315 1316 1317 1318 1319 1321 1323
 1324 1325 1326 1327 1328 1329 1330 1331 1332 1333 1335 1336 1337 1340
 1341 1342 1346 1347 1348 1349 1350 1352 1356 1361 1368 1372]
            ID1     ID2  Comparison     ID1     ID2  Comparison
0        1054.0  2049.0         2.0  1054.0  2049.0           2
1        1054.0  1924.0         2.0  1054.0  1924.0           2
2        1054.0   297.0         2.0  1054.0   297.0           2
3        1054.0  1101.0         2.0  1054.0  1101.0           2
4        1054.0  1520.0         0.0  1054.0  1520.0           0
...         ...     ...         ...     ...     ...         ...
1115266  1674.0  1454.0         2.0  1674.0  1454.0           2
1115267  1674.0   359.0         2.0  1674.0   359.0           2
1115268   748.0  1454.0         2.0   748.0  1454.0           2
1115269   748.0   359.0         2.0   748.0   359.0           2
1115270  1454.0   359.0         0.0  1454.0   359.0           2

[1115271 rows x 6 columns]
          ID  Rank_recreated    ID    TARGET
0     1054.0             826  1054  0.028313
1     2049.0             582  2049 -0.112516
2     1924.0             505  1924 -0.180840
3      297.0             430   297 -0.260356
4     1101.0             611  1101 -0.071733
...      ...             ...   ...       ...
1489   459.0             493   459 -0.172597
1490  1674.0             641  1674 -0.063546
1491   748.0             976   748  0.151797
1492  1454.0             287  1454 -0.640917
1493   359.0             400   359 -0.252764

[1494 rows x 4 columns]
TARGET AND reconstructed Rank : 0.9995156060666749

In [12]:
compare(process(df_train),Y_train,df_train)

1081812
1115271
accuract between df and df scrambled is  [0.5148479607198609, (0.5144847237612791, 562213), (0.5152573266812895, 553013), (0.022222222222222223, 45)]
[665 673 677 681 685 686 687 689 690 691 692 694 695 696 697 698 699 700
 701 702 703 704 705 706 707 708 709 710 711 712 713 714 715 716 717 718
 719 720 721 722 723 724 725 726 727 728 729 730 731 732 733 734 735 736
 737 738 739 740 741 742 743 744 745 746 747 748 749 750 751 752 753 754
 755 756 757 758 759 760 761 762 763 764 765 766 767 768 769 770 771 772
 773 774 775 776 777 778 779 780 781 782 783 784 785 786 787 788 789 790
 791 792 793 794 795 796 797 798 799 800 801 802 803 805 807 809 812 813]
            ID1     ID2  Comparison     ID1     ID2  Comparison
0        1054.0  2049.0         2.0  1054.0  2049.0           0
1        1054.0  1924.0         2.0  1054.0  1924.0           2
2        1054.0   297.0         2.0  1054.0   297.0           2
3        1054.0  1101.0         2.0  1054.0  1101.0           2
4        1054.0  1520.0         0.0  1054.0  1520.0           2
...         ...     ...         ...     ...     ...         ...
1115266  1674.0  1454.0         2.0  1674.0  1454.0           2
1115267  1674.0   359.0         2.0  1674.0   359.0           2
1115268   748.0  1454.0         2.0   748.0  1454.0           2
1115269   748.0   359.0         2.0   748.0   359.0           0
1115270  1454.0   359.0         0.0  1454.0   359.0           2

[1115271 rows x 6 columns]
          ID  Rank_recreated    ID    TARGET
0     1054.0             727  1054  0.028313
1     2049.0             734  2049 -0.112516
2     1924.0             697  1924 -0.180840
3      297.0             734   297 -0.260356
4     1101.0             754  1101 -0.071733
...      ...             ...   ...       ...
1489   459.0             740   459 -0.172597
1490  1674.0             737  1674 -0.063546
1491   748.0             747   748  0.151797
1492  1454.0             692  1454 -0.640917
1493   359.0             742   359 -0.252764

[1494 rows x 4 columns]
TARGET AND reconstructed Rank : 0.5486820256379839

In [10]:
compare(process(df_test,100),Y_test,df_test)

69751
69751
accuract between df and df scrambled is  [0.5020286447506129, (0.5007037394784049, 36235), (0.5034760554975384, 33515)]
[160 162 164 165 167 168 169 170 171 172 173 174 175 176 177 178 179 180
 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198
 199 200 201 202 203 204 205 206 207 208 209 211 212 215 220]
          ID1     ID2  Comparison     ID1     ID2  Comparison
0       490.0   603.0         0.0   490.0   603.0           2
1       490.0  1176.0         0.0   490.0  1176.0           2
2       490.0  1705.0         0.0   490.0  1705.0           0
3       490.0  1253.0         0.0   490.0  1253.0           0
4       490.0  1578.0         0.0   490.0  1578.0           0
...       ...     ...         ...     ...     ...         ...
69746  1263.0   925.0         0.0  1263.0   925.0           2
69747  1263.0  1993.0         0.0  1263.0  1993.0           2
69748   929.0   925.0         0.0   929.0   925.0           2
69749   929.0  1993.0         0.0   929.0  1993.0           0
69750   925.0  1993.0         2.0   925.0  1993.0           0

[69751 rows x 6 columns]
         ID  Rank_recreated    ID    TARGET
0     490.0             186   490 -0.854470
1     603.0             183   603  0.496221
2    1176.0             185  1176 -0.226496
3    1705.0             199  1705 -0.115047
4    1253.0             186  1253 -0.385909
..      ...             ...   ...       ...
369  1215.0             183  1215  0.797647
370  1263.0             215  1263 -0.060480
371   929.0             189   929  0.365625
372   925.0             195   925  1.940654
373  1993.0             203  1993  0.383148

[374 rows x 4 columns]
TARGET AND reconstructed Rank : 0.029724318916400923

In [26]:
X_train = pd.read_csv(datasets+'X_train.csv') #datasets is defined in utils
Y_train=pd.read_csv(datasets+'Y_train.csv')
X_train2, X_test, Y_train2, Y_test=train_test_split(X_train,Y_train, test_size=0.25)
df_train=create_pairwise_dataset(Y_train)
df2=process(df_train)

836453
1115271
accuract between df and df scrambled is  [0.6250427026256399, (0.6281284851115146, 562213), (0.6219293217338471, 553013), (0.3333333333333333, 45)]

In [23]:
df_train
df2

            ID1     ID2  Comparison
0        1054.0  2049.0           2
1        1054.0  1924.0           0
2        1054.0   297.0           2
3        1054.0  1101.0           0
4        1054.0  1520.0           0
...         ...     ...         ...
1115266  1674.0  1454.0           0
1115267  1674.0   359.0           2
1115268   748.0  1454.0           0
1115269   748.0   359.0           2
1115270  1454.0   359.0           2

[1115271 rows x 3 columns]

In [27]:
remade=reconstruct_original_dataset(df2)
sorted=remade.sort_values(by=['ID'], key=lambda x: x.map({k: i for i, k in enumerate(Y_test['ID'].tolist())})).head(len(Y_test))
print(sorted)
print(np.unique(sorted['Rank_recreated']))

print(pd.concat((sorted.reset_index(drop=True),Y_test.reset_index(drop=True)),axis=1))
from scipy.stats import spearmanr
print("TARGET AND reconstructed Rank :" ,spearmanr(sorted["Rank_recreated"], Y_test["TARGET"]).correlation)

          ID  Rank_recreated
1197  1718.0             565
1034  1481.0             686
1473  2123.0             783
1179  1693.0             619
1319  1886.0             954
...      ...             ...
200    289.0             933
208    297.0             684
744   1075.0             744
1400  2016.0             737
830   1188.0             848

[374 rows x 2 columns]
[520 536 539 547 548 552 557 559 560 564 565 569 570 571 574 575 576 577
 578 579 583 588 589 592 594 596 597 599 600 604 606 607 608 610 611 612
 613 617 619 620 621 622 623 628 629 631 632 633 634 635 636 637 638 639
 640 641 644 645 648 649 650 652 654 655 656 658 659 661 664 665 668 670
 672 674 675 677 678 679 680 681 684 686 687 689 690 691 694 695 696 697
 698 703 704 706 708 710 711 712 713 715 716 717 720 721 722 726 727 729
 730 731 732 733 737 741 742 744 745 749 750 751 753 754 755 756 757 758
 759 760 761 763 764 765 766 768 772 774 776 777 778 779 780 782 783 786
 787 788 790 795 796 801 802 803 805 806 807 808 809 811 812 815 816 819
 821 822 823 827 828 829 832 833 834 835 836 837 838 841 844 845 847 848
 850 851 855 857 858 860 861 862 863 864 865 869 870 871 872 874 877 880
 881 883 885 886 887 888 889 890 891 894 897 898 900 901 904 905 906 907
 908 909 911 912 913 914 915 916 917 920 923 924 925 926 928 929 930 933
 935 936 937 942 947 950 954 968]
         ID  Rank_recreated    ID    TARGET
0    1718.0             565  1718 -0.941654
1    1481.0             686  1481 -0.293317
2    2123.0             783  2123  0.144098
3    1693.0             619  1693 -0.366890
4    1886.0             954  1886  2.560178
..      ...             ...   ...       ...
369   289.0             933   289  6.836020
370   297.0             684   297 -0.260356
371  1075.0             744  1075 -0.030198
372  2016.0             737  2016  0.068905
373  1188.0             848  1188  0.174517

[374 rows x 4 columns]
TARGET AND reconstructed Rank : 0.9843045654844084